/* CUSTOM table */
.table-fixed {
  width: 100%;
}

.table-content tbody {
  height: 187px;
  overflow-y: auto;
  width: 100%;
}

.table-content thead,
.table-content tbody,
.table-content tr,
.table-content td,
.table-content th {
  display: block;
}
.table-content td,
td {
  padding: 6px;
}
.table-content tbody td {
  float: left;
  cursor: pointer;
}
.table-content tbody td:hover {
  opacity: 0, 8;
}
.table-content thead th {
  float: left;
  background-color: var(--bg-color-1);
  color: #ffffff;
}
/* .table-content tbody .active-row {
  display: ruby;
  background-color: var(--bg-color-2);
  color: var(--text-white);
} */

.language-title {
  font-weight: 900;
  margin-bottom: 10px;
  font-size: 1.2rem;
}
