
/* Sidebar */
.side-bar {
    height: 100vh;
    background: #526170;
    padding: 0;
  }
  .searchTitle .searchTitle__item {
    padding: 1rem 1.2rem;
    background-color: #2b3e51;
    color: #ffffff;
    cursor: pointer;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .searchTitle .searchTitle__item i {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    line-height: 30px;
    background-color: #ffffff;
    color: #2b3e51;
    text-align: center;
    transition: all 0.9s;
  }
  .searchTitle .searchTitle__item:hover i {
    transform: rotate(90deg);
  }

  .rotate90deg-active i{
    transform: rotate(90deg);
  }
  .searchTitle .searchTitle__item:hover {
    opacity: 1;
  }
  
  .info-clc {
    text-align: center;
  }
  .info-clc img {
    width: 80%;
    height: auto;
  }
  