.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  height: 360px;
  width: 800px;
  border: 3px solid var(--bg-color-main);
  background-color: rgb(238, 222, 240);
  padding: 8px 16px;
  top: 20%;
  left: 18%;
  transition: all 0.3s ease-out;
}

.myModal-top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
}
.myModal-top::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 1.5px;
  width: 100%;
  background-color: var(--bg-color-main);
}
.myModal-top .myModal-title {
  font-weight: 400;
  letter-spacing: 1.5px;
}
.myModal-top i {
  font-size: 1.6rem;
  color: var(--bg-color-main);
  cursor: pointer;
  transition: all 0.5s;
}

.myModal-top i:hover {
  transform: scale(1.5, 1.5);
}

.myModal-content {
  margin: 10px 0;
  width: 100%;
  height: 260px;
  display: flex;
}

.modal-content__left {
  width: 15%;
  height: 100%;
  /* background-color: lawngreen; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal-content__item-left {
  border-right: 1px solid var(--bg-color-main);
}
.word-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal-content__right {
  overflow: auto;
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* background-color: var(--bg-color-1); */
}

.modal-content__item-right {
  margin: 10px;
}
.myModal-footer button {
  border: none;
  outline: none;
  padding: 5px 10px;
  background-color: var(--bg-color-1);
  color: var(--text-white);
  border-radius: 5px;
  margin-left: auto;
}
