.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  height: 480px;
  width: 95%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  background-color: #ffffff;
  padding: 8px 16px;
  top: 16%;
  left: 3%;
  transition: all 0.3s ease-out;
}

.myModal-top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 1rem 0;
}
.myModal-top::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 1.5px;
  width: 100%;
  background-color: var(--bg-color-main);
}
.myModal-top .myModal-title {
  font-weight: 400;
  letter-spacing: 1.5px;
}
.myModal-top i {
  font-size: 1.6rem;
  color: var(--bg-color-main);
  cursor: pointer;
  transition: all 0.5s;
}

.myModal-top i:hover {
  transform: scale(1.5, 1.5);
}

.myModal-content {
  margin: 10px 0;
  width: 100%;
  height: 340px;
  display: flex;
}

.modal-content__left {
  width: 8%;
  height: 100%;
  /* background-color: lawngreen; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid var(--bg-color-main);
}

.word-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal-content__right {
  overflow-x: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* background-color: var(--bg-color-1); */
}

.modal-content__item-right {
  margin: 10px;
}
.myModal-footer button {
  border: none;
  outline: none;
  padding: 5px 10px;
  background-color: var(--bg-color-1);
  color: var(--text-white);
  border-radius: 5px;
  margin-left: auto;
}
