.line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--bg-color-1);
  margin: 20px 0;
}
.title-admin {
  background-color: var(--bg-color-1);
  color: var(--text-white);
  padding: 20px 0;
  margin-bottom: 20px;
}

.language {
  font-size: 1.4rem;
  font-weight: bold;
}
.language i {
  font-size: 1.6rem;
  color: var(--bg-color-1);
}

.homepage {
  position: relative;
}

.header-admin {
  background-color: var(--bg-color-1);
  color: #ffffff;
  padding: 16px 24px;
  margin-bottom: 24px;
}
.log-out-ctn{
  font-size:20px;
  cursor: pointer;
}

