input.pagination__number {
  margin: 0 15px;
  width: 60px;
  padding: 0 10px;
  text-align: center;
  border: none;
  background-color:var(--bg-color-1);
  color: var(--text-white);
  font-size: 1.2rem;
  font-weight: bold;
}
input.pagination__number:focus,input.pagination__number:hover{
    border: none;
    outline:none;
}
i {
  cursor: pointer;
}
i:hover{
    opacity: 0.9;
}
